/* ...........---RESET CSS---........... */

/* ...........---FONT FAMILY SOURCE---........... */

@font-face {
    font-family: "Tusker Grotesk";
    src: url("../fonts/TuskerGrotesk-5500Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Tusker Grotesk Light";
    src: url("../fonts/TuskerGrotesk-2600Semibold.ttf") format("truetype");
}

@font-face {
    font-family: "Canter Light";
    src: url("../fonts/Canter-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Canter Bold";
    src: url("../fonts/Canter-Bold.ttf") format("truetype");
}


/* ...........---CUSTOM PROPERTIES---........... */

:root {
    /* ...........---COLORES---........... */

    --color-primario: #8447ff;
    --color-secundario: #8cffda;
    --color-terceario: #ff36ab;
    --color-cuaternario: #fcd72c;
    --color-dark-mode-a: #ffffff;
    --color-dark-mode-b: #444444;

    /* ...........---TIPOGRAFIAS---........... */

    --font-principal: "Tusker Grotesk", Arial, sans-serif;
    --font-secundaria: "Tusker Grotesk Light";
    --font-general: "Canter Light";
    --font-bold: "Canter Bold";
}

/* ...........---MODO OSCURO---........... */

@media (prefers-color-scheme: dark) {
    :root {
        --color-primario: #8cffda;
        --color-secundario: #8447ff;
        --color-terceario: #fcd72c;
        --color-cuaternario: #ff36ab;
        --color-dark-mode-a: #444444;
        --color-dark-mode-b: #ffffff;
    }
}

/* ...........---PADDINGS Y MARGINS GENERALES---........... */

*, *::before ,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ...........---ANCLAS SUAVES---........... */

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

/* ...........---Dark Mode---........... */

body {
    background: var(--color-secundario);
}

/* ...........---Botones Styles---........... */

.btn {
    background: var(--color-terceario);
    padding: 12px 18px;
    border: 2px solid #000000;
    border-radius: 2px;
    box-shadow: 5px 5px #000000;
    font-family: var(--font-secundaria);
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #000000;
    letter-spacing: 3px;
    transition: .2s;
}

.btn:hover {
    transform: translate(3px);
    box-shadow: 3px 3px #000000;
    cursor: pointer;
}

.btn a {
    color: #000000;
    text-decoration: none;
}
/* ...........---Subtitulos Styles---........... */

.cryptos__titulo, .noticias__titulo, .formulario__titulo, .grafico__titulo, .nft__titulo {
    font-family: var(--font-principal);
    color: #000000;
    text-align: center;
    padding: 20px 30px;
    font-size: 4rem;
    text-shadow:  4px 4px #000000;
    letter-spacing: 1px;
    -webkit-text-fill-color: var(--color-terceario);
    -webkit-text-stroke-width: 2px ;
}

/* ...........---FIN DEL RESET---........... */

/* ------...Header...------ */

.header {
    height: 100px;
    background: var(--color-secundario);
    color: var(--color-primario);
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.logo {
    font-family: var(--font-principal);
    font-size: 2.5rem;
    color: #000000;
    text-decoration: none;
    text-shadow:  5px 5px #000000;
    transition: 0.3s;
    -webkit-text-fill-color: var(--color-terceario);
    -webkit-text-stroke-width: 3px ;
}

.menu a {
    font-family: var(--font-secundaria);
    color: #000000;
    font-size: 3.5rem;
    padding: 0 10px;
    transition: 0.3s;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-shadow:  3px 3px #000000;
    -webkit-text-fill-color: var(--color-primario);
    -webkit-text-stroke-width: 1px ;
}

.desplegar,
.cerrar {
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

.desplegar {
    order: 1;
}

.menu a:hover,
.desplegar:hover,
.cerrar:hover, 
a:hover    {
    -webkit-text-fill-color: var(--color-dark-mode-b);
}

#check {
    display: none;
}

/* ------...Banner...------ */

.banner {
    background-image: url(../multimedia/portada2.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.banner::before {
    content: "";
    background: rgba(70, 70, 90, .4);
    position: absolute;
    width: 100%;
    height: 90vh;
    left: 0;
}

.banner__contenido {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.banner__title {
    font-family: var(--font-principal);
    width: 50vw;
    color: var(--color-cuaternario);
    line-height: 1.4em;
    font-size: 5.5rem;
    text-shadow:  2px 2px #000000;
}

.banner__paragraph {
    width: 29vw;
    margin-left: .75em;
    color: var(--color-terceario);
    font-family: var(--font-secundaria);
    font-size: 6rem;
    line-height: 1.4em;
    letter-spacing: 2px;
    text-shadow:  2px 2px #000000;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.bold, .italic {
    text-shadow:  5px 5px #000000;
}

/* ------...Cryptos...------ */

#cryptos {
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 60px;
}

.cryptos__contenedor {
    background: var(--color-dark-mode-a);
    border-radius: 2px;
    transition: .2s;
    border: 2px solid #000000;
    box-shadow: 5px 5px #000000;
}

.cryptos__contenedor:hover {
    transform: translate(3px);
    box-shadow: 3px 3px #000000;
    cursor: pointer;
}

.color__btc {
    height: 30px;
    background: #ff9d00;
    border-bottom: solid 2px #000000;
}

.color__eth {
    height: 30px;
    background: #a0d4df;
    border-bottom: solid 2px #000000;
}

.color__usdt {
    height: 30px;
    background: #2cfc8d;
    border-bottom: solid 2px #000000;
}

.color__rvn {
    height: 30px;
    background: #4749b7;
    border-bottom: solid 2px #000000;
}

.color__dot {
    height: 30px;
    background: #c91a6c;
    border-bottom: solid 2px #000000;
}

.color__bnb {
    height: 30px;
    background: #fcd72c;
    border-bottom: solid 2px #000000;
}

.cryptos__contenedor a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.icono-crypto {
    width: 7vw;
}

.crypto-texto {
    font-family: var(--font-bold);
    font-size: 3rem;
    color: var(--color-primario);
    text-shadow: 2px 2px #000000;
}

/* ------...Noticias...------ */

.noticias {
    height: 100%;
    display: grid;
    text-align: center;
    padding: 20px 20px 20px;
    margin: 20px 80px;
}

.noticias__articulos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    min-height: 550px;
    margin: 0 20px;
    background: var(--color-dark-mode-a);
    transition: .2s;
    border: 2px solid #000000;
    border-radius: 2px;
    box-shadow: 5px 5px #000000;
}

.card-1 {
    order: 2;
}

.card-2 {
    order: 1;
}

.card-3 {
    order: 3;
}

.card article .card__imagen {
    width: 100%;
    height: 150px;
}

.card article .card__imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: solid 2px #000000;
}

.card-1 .primera-noticia .arriba {
    padding: 20px;
}

.card .arriba {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card .arriba a{
    padding-left: 5px;
    text-decoration: none;
}

.card .arriba .autor {
    font-family: var(--font-bold);
    font-size: 2rem;
    color: var(--color-dark-mode-b);
}

.card-1 .primera-noticia .arriba .autor {
    font-size: 2.5rem;
}

.card .arriba .twiter-tag {
    font-family: var(--font-bold);
    font-size: 1.2rem;
    font-weight: 550;
    color: var(--color-terceario);
}

.card-1 .primera-noticia .arriba .twiter-tag {
    font-size: 1.5rem;
}

.card .subtitulo {
    font-family: var(--font-principal);
    font-size: 1.6rem;
    color: var(--color-primario);
}

.card-1 .primera-noticia .subtitulo {
    font-size: 2rem;
}

.card .abajo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--color-dark-mode-a);
    justify-content: center;
    justify-items: center;
}

.card .abajo p {
    text-align: center;
    font-family: var(--font-bold);
    font-size: 2rem;
    color: var(--color-terceario);
}

.card .abajo .fecha {
    text-align: center;
    font-family: var(--font-general);
    padding: 5px;
    font-size: 1.5rem;
    color: var(--color-dark-mode-b);
}

.card .abajo .btn {
    margin: 20px 50px;
}
/* ------...Grafico...------ */

.grafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grafico .grafico__background {
    background-image: url(../multimedia/chart.png);
    width: 95vw;
    height: 65vh;
    background-size: cover;
    background-position: center;
    margin: 10px 0 30px 0;
    border: solid 2px #000000;
    border-radius: 2px;
    box-shadow: 5px 5px #000000;
}

/* ------...NFTs...------ */

.nft__contenedor    {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.nft__menu  {
    grid-column: 1/2;
    grid-row: 1/3;
}

.nft__seleccionado  {
    grid-column: 2/3;
}

.coleccion__titulo  {
    font-family: var(--font-principal);
    font-size: 3rem;
    color: var(--color-primario);
    grid-column: 3/4;
}

.nft__contenido {
    grid-column: 2/4;
}

/* ------...Contactanos...------ */

.formulario__contenedor {
    background: var(--color-dark-mode-b);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    padding: 0 20px 20px;
    overflow: hidden;
    margin: 20px auto;
    border: solid 2px #000000;
    border-radius: 2px;
    box-shadow: 5px 5px #000000;
    justify-content: center;
}

.formulario__titulo {
    padding: 20px 30px 0 30px;
}

form .contactanos {
    padding: 50px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.entrada {
    width: 88%;
    height: 55px;
    margin:  30px 0;
    position: relative;
}

.input  {
    font-family: var(--font-bold);
    width: 100%;
    height: 100%;
    background: var(--color-dark-mode-a);
    border: 2px solid #000000;
    border-radius: 2px;
    outline: none;
    padding: 20px;
    margin: 20px;
    color: #000000;
    font-size: 2rem;
    line-height: .5rem;
}

.entrada label {
    position: absolute;
    font-family: var(--font-bold);
    font-weight: 800;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    margin: 20px;
    transform: translateY(-50%);
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #000000;
    transition: .4s;
}

.entrada .input:focus ~ label,
.entrada .input:valid ~ label {
    top: -15px;
    left: 5px;
    background: transparent;
    font-size: 1.5rem;
    padding: 5px;
}

textarea .input{
    resize: none;
}

/* ........----footer----........ */

footer {
    width: 100%;
    background: #666666;

}

.footer__contenedor-arriba {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 45px 0;
}

.footer__contenedor-arriba .footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__logo h2{
    font-size: 4rem;
}

.footer__contenedor-arriba .footer__pages .pages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__contenedor-arriba .footer__pages .pages li {
    list-style: none;
}

.footer__contenedor-arriba .footer__pages .pages li a{
    text-decoration: none;
    font-family: var(--font-bold);
    font-size: 2rem;
    color: var(--color-primario);
    text-decoration: none;
    font-weight: 800;
    text-shadow:  2px 2px #000000;
    transition: 0.3s;

}

footer .footer__contenedor-arriba .footer__subscribe {
margin: 20px;
}

footer .footer__contenedor-arriba .footer__subscribe .seguinos {
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: var(--font-bold);
    font-size: 2.5rem;
}

footer .footer__contenedor-arriba .footer__subscribe .rrss {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 2px;
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__facebook {
    background: #1877f2;
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__facebook:hover img {
    filter: invert(48%) sepia(76%) saturate(5611%) hue-rotate(202deg) brightness(98%) contrast(94%);
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__youtube {
    background: #ff0000;
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__youtube:hover img {
    filter: invert(21%) sepia(98%) saturate(3683%) hue-rotate(351deg) brightness(95%) contrast(137%);
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__twitch {
    background: #9046ff;
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__twitch:hover img {
    filter: invert(36%) sepia(61%) saturate(4777%) hue-rotate(248deg) brightness(99%) contrast(105%);
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__twitter {
    background: #1d9bf0;
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__twitter:hover img {
    filter: invert(43%) sepia(98%) saturate(1410%) hue-rotate(179deg) brightness(100%) contrast(89%);
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__instagram {
    background: linear-gradient(45deg, #efc400, #f0081a, #6a34e9);
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__instagram:hover img {
    filter: invert(30%) sepia(94%) saturate(7065%) hue-rotate(257deg) brightness(96%) contrast(90%);
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__github {
    background: #161b22;
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__github:hover img {
    filter: invert(8%) sepia(17%) saturate(854%) hue-rotate(175deg) brightness(97%) contrast(95%);
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__tiktok {
    background: linear-gradient(to right, #000000, #65c3ca, #f7f7f7, #e71d4f, #000000);
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__tiktok:hover img {
    filter: invert(20%) sepia(53%) saturate(4337%) hue-rotate(328deg) brightness(98%) contrast(105%);
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__whatsapp {
    background: #1bd741;
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn__whatsapp:hover img {
    filter: invert(73%) sepia(50%) saturate(3565%) hue-rotate(80deg) brightness(97%) contrast(91%);
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .btn:hover {
    background: #ffffff;
}

footer .footer__contenedor-arriba .footer__subscribe .rrss .rrss__icono img {
    height: 1em;
    width: 1em;
    margin: 5px;
}

.footer__contenedor-abajo {
    color: #000000;
    display: flex;
    padding: 2px;
    font-size: 1.5rem;
    justify-content: space-evenly;
    font-family: var(--font-bold);
    letter-spacing: 1px;
}
/* ------...Redes Sociales...------ */



/* ------...otros...------ */


















/* ...........---Responsive---........... */


@media (min-width: 768px) and (max-width: 1023px) {

    /* ------...Header...------ */

    .header__logo {
        font-size: 1.7rem;
        transition: .8s;
        text-shadow:  4px 4px #000000;
    }

    /* ------...Banner...------ */

    .banner {
        height: 65vh;
    }
    
    .banner::before {
        height: 65vh;
    }

    .banner__contenido {
        gap: 5px;
        padding: 0 40px;

    }

    .banner__title {
        font-size: 3.3rem;
        transition: .8s;
    }

    .banner__paragraph {
        font-size: 3.8rem;
        transition: .8s;
    }

    /* ------...Cryptos...------ */

    .cryptos__titulo {
        padding-top: 30px;
        font-size: 2rem;
    }

    .cryptos__contenedor {
        padding: 0 10px;
        
    }

    .icono-crypto {
        width: 11vw;
    }

    .crypto-texto {
    font-size: 2.8rem;
    }

    /* ------...Noticias...------ */

    .noticias {
        margin: 20px;
    }

    .noticias__articulos {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 20px;
    }

    .card .arriba {
        flex-direction: column;
        padding: 0;
    }

    .card-1 .primera-noticia .arriba {
        padding: 5px;
    }


    .card-1 {
        order: 3;
    }
    
    .card-2 {
        order: 2;
    }
    
    .card-3 {
        order: 1;
    }

    /* ------...Contactanos...------ */

    .formulario__contenedor {
        margin: auto;
    }

    /* ........----footer----........ */


}

/* ........----Responsive celular----........ */

@media (max-width: 767px) {

    /* reset */
    
    .cryptos__titulo, .noticias__titulo, .formulario__titulo, .grafico__titulo {
        padding-top:30px;
        font-size: 2.6rem;
        text-shadow:  2px 2px #000000;
    }

    /* ------...Header...------ */

    .header {
        padding: 15px;
    }

    .logo {
        font-size: 1.5rem;
        transition: .8s;
        text-shadow:  3px 3px #000000;
    }

    .desplegar,
    .cerrar {
        display: block;
        text-shadow:  2px 2px #000000;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color-secundario);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 50px 0;
        z-index: 100;
        transition: 0.65s;
    }

    .menu a {
        display: block;
        margin: 5px 60px;
        padding: 5px;
    }

    .cerrar {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    #check:checked~.menu {
        right: 0;
    }

    /* ------...Banner...------ */

    .banner {
        height: 85vh;
    }
    
    .banner::before {
        height: 85vh;
    }
    
    .banner__contenido {
        padding: 1px;
        margin: 5px;
    }

    .banner__title {
        font-size: 2.5rem;
        transition: .8s;
    }

    .banner__paragraph {
        font-size: 2.45rem;
        transition: .8s;
    }

    .bold, .italic {
        text-shadow:  3px 3px #000000;
    }

    /* ------...Cryptos...------ */


    #cryptos {
        display: flex;
        flex-wrap: wrap;
    }

    .icono-crypto {
        width: 22vw;
        
    }

    .crypto-texto {
    font-size: 2rem;
    }


    /* ------...Noticias...------ */
    
    .noticias {
        padding: 0 0 20px 0;
        margin: 0;
    }

    .noticias__articulos {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        width: 80vw;
    }

    .card .arriba {
        flex-direction: column;
    }

    .card-1 .primera-noticia .arriba {
        padding: 10px;
    }

    .card-1 .primera-noticia .arriba .autor {
        font-size: 1.2rem;
    }
        
    .card-1 .primera-noticia .arriba .twiter-tag {
        font-size: 1rem;
    }
    
    .card-1 .primera-noticia .subtitulo {
        font-size: 1.6rem;
    }

    .card-1 {
        order: 1;
    }
    
    .card-2 {
        order: 2;
    }
    
    .card-3 {
        order: 3;
    }

    .card .abajo .btn {
        margin: 20px;
    }

    /* ------...Grafico...------ */

.grafico .grafico__background {
    background-image: url(../multimedia/chart\ mobile.png);
    width: 85vw;
    height: 85vh;
}

    /* ------...Contactanos...------ */

    .formulario__contenedor{
        width: 85vw;
        margin: 24px;
    }

    .formulario__titulo {
        padding: 30px 30px 0 30px;
    }
    
    form .contactanos {
        padding-top: 0;
    }

    .entrada .input {
        margin-right: 8px;
    }

    textarea #mensaje .input {
        margin-right: 8px;
    }

    /* ........----footer----........ */

    .footer__contenedor-arriba {
        width: 90%;
        grid-template-columns: 1fr;
        padding: 25px 0;
    }

    .footer__contenedor-arriba .footer__logo h2{
        margin: 20px;
        font-size: 3rem;
    }

    footer .footer__contenedor-arriba .footer__subscribe .seguinos {
        margin: 20px;
    }

    footer .footer__contenedor-arriba .footer__subscribe .rrss {
        flex-wrap: wrap;
    }

    footer .footer__contenedor-arriba .footer__subscribe .rrss .rrss__icono img {
        width: .75em;
        height: .75em;
    }

    .footer__contenedor-abajo {
        justify-content: space-around;
        text-align: center;
    }

    /* ------...Redes...------ */


}
