/* ------...Banner...------ */

.banner {
  background-image: url(../../multimedia/portada.jpg);
  height: 85vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;

  @include notebook {
    height: 80vh;
  }

  &::before {
    content: "";
    background: rgba(70, 70, 90, 0.4);
    position: absolute;
    width: 100%;
    height: 85vh;
    left: 0;

    @include notebook {
      height: 80vh;
    }
  }

  &__contenido {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;

    span {
      text-shadow: 5px 5px rgb(0, 0, 0);

      @include mobile {
        text-shadow: 3px 3px rgb(0, 0, 0);
      }

      @include tablet {
        text-shadow: 4px 4px rgb(0, 0, 0);
      }

      @include notebook {
        text-shadow: 4.5px 4.5px rgb(0, 0, 0);
      }

      @include tv {
        text-shadow: 8px 8px rgb(0, 0, 0);
      }
    }

    @include mobile {
      margin: 0.32em;
      padding: 0.05em;
    }

    @include tablet {
      gap: 5px;
      padding: 0 0.5em;
    }

    @include notebook {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 0.5em;
    }

    @include tv {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 2em;
    }
  }

  &__title {
    font-family: $font-primaria;
    width: 50vw;
    color: var(--color-cuaternario);
    line-height: 1.4em;
    font-size: 5.5rem;
    text-shadow: 2px 2px rgb(0, 0, 0);

    span {
      font-style: italic;
    }

    @include mobile {
      font-size: 2.5rem;
      transition: 0.8s;
    }

    @include tablet {
      font-size: 3.5rem;
      transition: 0.8s;
    }

    @include notebook {
      width: auto;
      grid-column: 1/3;
      font-size: 3.6rem;
      transition: 0.8s;
    }

    @include tv {      
      width: auto;
      grid-column: 1/3;
      font-size: 7rem;
      transition: 0.8s;
    }
  }

  &__paragraph {
    width: 29vw;
    margin-left: 0.75em;
    color: var(--color-terceario);
    font-family: $font-secundaria;
    font-size: 6rem;
    line-height: 1.4em;
    letter-spacing: 2px;
    text-shadow: 2px 2px rgb(0, 0, 0);

    span {
      font-weight: 600;
    }

    @include mobile {
      font-size: 2.5rem;
      margin-left: 0.6em;
      transition: 0.8s;
    }

    @include tablet {
      font-size: 4rem;
      margin-left: 0.5em;
      transition: 0.8s;
    }

    @include notebook {
      grid-column: 3/4;
      font-size: 4.2rem;
      margin-left: 0.25em;
      transition: 0.8s;
    }

    @include tv {
      grid-column: 3/4;
      font-size: 7rem;
      margin-left: 0.25em;
      transition: 0.8s;
    }
  }
}
