/* ...........---Botones Styles---........... */
  
.btn {
    background: var(--color-terceario);
    padding: 12px 18px;
    border: 2px solid #000000;
    border-radius: 2px;
    box-shadow: 5px 5px #000000;
    font-family: $font-secundaria;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #000000;
    letter-spacing: 3px;
    transition: 0.2s;
  
    &:hover {
      transform: translate(3px);
      box-shadow: 3px 3px #000000;
      cursor: pointer;
    }
  
    a {
      color: #000000;
      text-decoration: none;
    }
  }
  