/* ...........---Botones Styles---........... */
  
.btn {
    background: var(--color-primario);
    padding: 0.75em 1.1em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    font-family: $font-secundaria;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
    transition: 0.2s;

    @include tv {
      border: 5px solid rgb(0, 0, 0);
      font-size: 2rem;
    }
  
    &:hover {
      transform: translate(3px);
      box-shadow: 3px 3px rgb(0, 0, 0);
      cursor: pointer;
    }
  
    a {
      color: rgb(0, 0, 0);
      text-decoration: none;
    }
  }
  