/* ------...Header...------ */

.header {
  height: 15vh;
  background: var(--gradient);
  background-size: 400%;
  animation: background-moving 15s infinite alternate;
  padding: 0 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 4px solid rgb(0, 0, 0);

  @include mobile {
    padding: 1em;
  }

  @include notebook {
    height: 20vh;
  }

  @include tv {
    border-bottom: 8px solid rgb(0, 0, 0);
  }

  h1 {
    visibility: collapse;
  }

  &__img {
    height: 5em;
    margin: 0.5em;

    &--red {
      animation: glitch-svg-red 2.5s infinite;
    }

    &--blue {
      position: absolute;
      animation: glitch-svg-blue 2.5s 0.5s infinite;
    }

    @include mobile {
      height: 3.5em;
      transition: 0.8s;
    }

    @include tablet {
      height: 4em;
      transition: 0.8s;
    }

    @include tv {
      height: 7em;
      transition: 0.8s;
    }
  }
}
