/* ------...Header...------ */

.header {
  height: 100px;
  background: var(--gradient);
  background-size: 400%;
  animation: background-moving 15s infinite alternate;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;

  @include mobile {
    padding: 15px;
  }

  .logo {
    font-family: $font-primaria;
    font-size: 4rem;
    text-shadow: 5px 5px #000000;
    transition: 0.3s;
    -webkit-text-fill-color: var(--color-terceario);
    -webkit-text-stroke-width: 3px;

    @include mobile {
      font-size: 2.5rem;
      transition: 0.8s;
      text-shadow: 3px 3px #000000;
    }

    @include tablet {
      font-size: 1.7rem;
      transition: 0.8s;
      text-shadow: 4px 4px #000000;
    }

    a {
      color: #000000;
      text-decoration: none;
    }
  }
}
