/* ------...Cryptos...------ */

.cryptos {
  padding: 1.25em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 3.75em;

  @include mobile {
    gap: 2em;
  }

  @include tablet {
    gap: 2.5em;
  }

  @include notebook {
    gap: 3em;
  }

  &__contenedor {
    width: 7em;
    height: 12em;
    background: var(--color-dark-mode-a);
    border-radius: 2px;
    transition: 0.2s;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px rgb(0, 0, 0);

    @include tv {
      width: 9em;
      height: 15em;
      border: 4px solid rgb(0, 0, 0);
      box-shadow: 8px 8px rgb(0, 0, 0);
    }

    &:hover {
      transform: translate(3px);
      box-shadow: 3px 3px rgb(0, 0, 0);
      cursor: pointer;
    }

    &--color {
      height: 1.9em;
      border-bottom: solid 2px rgb(0, 0, 0);

      @include tv {
        border-bottom: solid 4px rgb(0, 0, 0);
      }

      &--btc {
        background: rgb(255, 157, 0);
      }

      &--eth {
        background: rgb(160, 212, 223);
      }

      &--usdt {
        background: rgb(44, 252, 141);
      }

      &--rvn {
        background: rgb(71, 73, 183);
      }

      &--dot {
        background: rgb(201, 26, 108);
      }

      &--bnb {
        background: rgb(252, 215, 44);
      }
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      text-decoration: none;
      padding: 0.65em;

      .icono-crypto {
        align-self: center;
        width: 8vw;
        
        // @include mobile {
        //   width: 25vw;
        // }

        // @include tablet {
        //   width: 16vw;
        // }

        // @include notebook {
        //   width: 12vw;
        // }

        // @include tv {
        //   width: 8.5vw;
        // }
      }

      .texto-crypto {
        text-align: center;
        font-family: $font-bold;
        font-size: 3rem;
        color: var(--color-primario);
        text-shadow: 2px 2px rgb(0, 0, 0);

        // @include mobile {
        //   font-size: 2.5rem;
        // }

        // @include tablet {
        //   font-size: 2.8rem;
        // }

        // @include notebook {
        //   font-size: 2.9em;
        // }

        @include tv {
          // font-size: 3.9rem;
          text-shadow: 3px 3px rgb(0, 0, 0);
        }
      }
    }
  }
}
