.noticias {
  height: 100%;
  display: grid;
  text-align: center;
  padding: 0.32em;

  @include mobile {
    padding: 1.25em 0;
    margin: 0;
  }

  @include tablet {
    margin: 1.25em 0;
    padding: 1.25em 0;
  }

  &__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      display: flex;
      flex-wrap: wrap;
      gap: 1.25em;
    }

    @include tablet {
      display: flex;
      flex-wrap: wrap-reverse;
      gap: 1em;
      padding: 0;
      margin: 0;
    }

    @include notebook {
      display: flex;
      flex-wrap: wrap-reverse;
      gap: 1em;
      padding: 0;
      margin: 0;
    }

    &--card {
      width: 22em;
      min-height: 35em;
      margin: 0 1.25em;
      background: var(--color-dark-mode-a);
      transition: 0.2s;

      @extend .shadow;

      @include mobile {
        width: 80vw;
        min-height: fit-content;
      }

      @include tablet {
        width: 45vw;
        min-height: fit-content;
        margin: 0.32em;
      }

      @include notebook {
        width: 30vw;
        min-height: fit-content;
      }

      @include tv {
        width: 30vw;
        min-height: fit-content;
        border: 4px solid rgb(0, 0, 0);
      }

      &--principal {
        order: 2;

        @include mobile {
          order: 1;
        }

        @include tablet {
          width: 50vw;
          order: 3;
        }

        @include notebook {
          width: 70vw;
          order: 3;
        }
      }

      &--secundaria {
        order: 1;

        @include mobile {
          order: 2;
        }

        @include tablet {
          order: 2;
        }

        @include notebook {
          order: 2;
        }
      }

      &--tercearia {
        order: 3;

        @include mobile {
          order: 3;
        }

        @include tablet {
          order: 1;
        }

        @include notebook {
          order: 1;
        }
      }
    }
  }

  &__articulos {
    &--imagen {
      width: 100%;
      height: 9.5em;

      @include mobile {
        height: 5em;
      }

      @include tablet {
        height: 6em;
      }

      @include notebook {
        height: 8em;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom: solid 2px rgb(0, 0, 0);

        @include tv {
          border-bottom: solid 8px rgb(0, 0, 0);
        }
      }
    }

    &--autor {
      padding: 0.65em;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      @include mobile {
        flex-direction: column;
      }

      @include tablet {
        flex-direction: column;
        padding: 0;
      }

      @include notebook {
        flex-direction: column;
      }

      &--name {
        font-family: $font-bold;
        font-size: 2rem;
        color: var(--color-dark-mode-b);

        @include mobile {
          font-size: 1.3rem;
        }

        @include tablet {
          font-size: 1.5rem;
        }

        @include notebook {
          font-size: 1.8rem;
        }
      }

      &--twitter {
        padding-left: 0.32em;
        text-decoration: none;
        font-family: $font-bold;
        font-size: 1.2rem;
        font-weight: 550;
        color: var(--color-terceario);

        @include mobile {
          font-size: 0.9rem;
        }

        @include tablet {
          font-size: 1rem;
        }

        @include notebook {
          font-size: 1.1rem;
        }
      }
    }

    &--headline {
      font-family: $font-primaria;
      font-size: 1.6rem;
      color: var(--color-primario);

      @include mobile {
        font-size: 1.2rem;
      }

      @include tablet {
        font-size: 1.4rem;
      }
    }

    &--body {
      display: flex;
      flex-direction: column;
      padding: 1.25em;
      background: var(--color-dark-mode-a);
      justify-content: center;
      justify-items: center;

      &--lead {
        text-align: center;
        font-family: $font-bold;
        font-size: 2rem;
        color: var(--color-terceario);

        @include mobile {
          font-size: 1.6rem;
        }

        @include tablet {
          font-size: 1.8rem;
        }

        @include notebook {
          font-size: 1.9rem;
        }
      }

      &--date {
        text-align: center;
        font-family: $font-general;
        padding: 0.32em;
        font-size: 1.5rem;
        color: var(--color-dark-mode-b);

        @include mobile {
          font-size: 1rem;
        }

        @include tablet {
          font-size: 1.2rem;
        }

        @include notebook {
          font-size: 1.4rem;
        }

      }

      &--btn {
        padding: 0.2em;
        margin: 1.25em auto;
      }
    }

    &__principal {
      &--autor {
        padding: 1.25em;

        @include mobile {
          padding: 0.65em;
        }

        @include tablet {
          padding: 0.32em;
        }

        @include notebook {
          padding: 1em;
        }

        &--name {
          font-size: 2.5rem;

          @include mobile {
            font-size: 1.2rem;
          }

          @include tablet {
            font-size: 1.4rem;
          }
        }

        &--twitter {
          font-size: 1.5rem;

          @include mobile {
            font-size: 1rem;
          }

          @include tablet {
            font-size: 1.2rem;
          }
        }
      }

      &--headline {
        font-size: 2rem;

        @include mobile {
          font-size: 1.6rem;
        }

        @include tablet {
          font-size: 1.8rem;
        }
      }
    }
  }
}

.desarrollo__noticias {
  display: flex;
  flex-direction: column;
  margin: 2em;
  justify-content: center;
  align-items: center;

  &--articulo {
    margin: 1em;
    width: 80vw;
    font-family: $font-bold;
    font-size: 2rem;
    background: var(--color-dark-mode-a);
    transition: 0.2s;

    @extend .shadow;

    p {
      margin: 1em;
    }

    @include tv {
      border: 4px solid rgb(0, 0, 0);
    }
  }
}
