.noticias {
  height: 100%;
  display: grid;
  text-align: center;
  padding: 0.32em;

  @include tablet {
    margin: 1.25em 0;
    padding:1.25em 0;
  }

  @include mobile {
    padding: 1.25em 0;
    margin: 0;
  }

  &__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      display: flex;
      flex-wrap: wrap-reverse;
      gap: 1.25em;
      padding: 0;
      margin: 0;
    }

    @include mobile {
      display: flex;
      flex-wrap: wrap;
      gap: 1.25em;
    }

    &--card {
      width: 22em;
      min-height: 35em;
      margin: 0 1.25em;
      background: var(--color-dark-mode-a);
      transition: 0.2s;
      border: 2px solid rgb(0, 0, 0);
      border-radius: 2px;
      box-shadow: 5px 5px rgb(0, 0, 0);

      @include tablet {
        margin: 0.32em;
      }

      @include mobile {
        width: 80vw;
      }

      &--principal {
        order: 2;

        @include tablet {
          order: 3;
        }

        @include mobile {
          order: 1;
        }
      }

      &--secundaria {
        order: 1;

        @include tablet {
          order: 2;
        }

        @include mobile {
          order: 2;
        }
      }

      &--tercearia {
        order: 3;

        @include tablet {
          order: 1;
        }

        @include mobile {
          order: 3;
        }
      }
    }
  }

  &__articulos {
    &--imagen {
      width: 100%;
      height: 9.5em;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom: solid 2px rgb(0, 0, 0);
      }
    }

    &--autor {
      padding: 0.65em;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      @include tablet {
        flex-direction: column;
        padding: 0;
      }

      @include mobile {
        flex-direction: column;
      }

      &--name {
        font-family: $font-bold;
        font-size: 2rem;
        color: var(--color-dark-mode-b);
      }

      &--twitter {
        padding-left: 0.32em;
        text-decoration: none;
        font-family: $font-bold;
        font-size: 1.2rem;
        font-weight: 550;
        color: var(--color-terceario);
      }
    }

    &--headline {
      font-family: $font-primaria;
      font-size: 1.6rem;
      color: var(--color-primario);
    }

    &--body {
      display: flex;
      flex-direction: column;
      padding: 1.25em;
      background: var(--color-dark-mode-a);
      justify-content: center;
      justify-items: center;

      &--lead {
        text-align: center;
        font-family: $font-bold;
        font-size: 2rem;
        color: var(--color-terceario);
      }

      &--date {
        text-align: center;
        font-family: $font-general;
        padding: 0.32em;
        font-size: 1.5rem;
        color: var(--color-dark-mode-b);
      }

      &--btn {
        margin: 1.25em 3.2em;

        @include mobile {
          margin: 1.25em;
        }
      }
    }

    &__principal {
      &--autor {
        padding: 1.25em;

        @include tablet {
          padding: 0.32em;
        }

        @include mobile {
          padding: 0.65em;
        }

        &--name {
          font-size: 2.5rem;

          @include mobile {
            font-size: 1.2rem;
          }
        }

        &--twitter {
          font-size: 1.5rem;

          @include mobile {
            font-size: 1rem;
          }
        }
      }

      &--headline {
        font-size: 2rem;

        @include mobile {
          font-size: 1.6rem;
        }
      }
    }
  }
}
