/* .........---FONTS---......... */

@font-face {
    font-family: "Tusker Grotesk";
    src: url("../../fonts/TuskerGrotesk-5500Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Tusker Grotesk Light";
    src: url("../../fonts/TuskerGrotesk-2600Semibold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Canter Light";
    src: url("../../fonts/Canter-Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Canter Bold";
    src: url("../../fonts/Canter-Bold.ttf") format("truetype");
  }

  
  $font-primaria: "Tusker Grotesk";
  $font-secundaria: "Tusker Grotesk Light";
  $font-general: "Canter Light";
  $font-bold: "Canter Bold";
  
  /* .........---MIXINS---......... */

  @mixin mobile {
    @media (width < 768px) {
        @content;
    }
  }

  @mixin tablet {
    @media (width >= 768px) and (width <= 1024px) {
        @content;
    }
  }
  
  /* .........---ANIMATIONS---......... */
  
  @keyframes background-moving {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  
  /* ...........---PADDINGS Y MARGINS GENERALES---........... */
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    /* .........---ANCLAS SUAVES Y SCROLLBAR---......... */
  
    scrollbar-width: none;
    scroll-behavior: smooth;
  
    /* ...........---COLORES---........... */
  
    --color-primario: rgb(132, 71, 255);
    --color-secundario: rgb(140, 255, 218);
    --color-terceario: rgb(255, 54, 171);
    --color-cuaternario: rgb(252, 215, 44);
    --color-dark-mode-a: rgb(255, 255, 255);
    --color-dark-mode-b: rgb(136, 136, 136);
  
  --gradient: linear-gradient(
    60deg,
    rgb(164, 244, 242),
    rgb(160, 196, 255),
    rgb(255, 214, 224),
    rgb(255, 173, 173),
    rgb(255, 239, 159),
    rgb(253, 255, 182),
    rgb(193, 251, 164),
    rgb(123, 241, 168)
  );
  
    /* ...........---MODO OSCURO---........... */
  
    @media (prefers-color-scheme: dark) {
      & {
        --color-primario: rgb(140, 255, 218);
        --color-secundario: rgb(132, 71, 255);
        --color-terceario: rgb(252, 215, 44);
        --color-cuaternario: rgb(255, 54, 171);
        --color-dark-mode-a: rgb(136, 136, 136);
        --color-dark-mode-b: rgb(255, 255, 255);
  
        --gradient: linear-gradient(
          60deg,
          rgb(105, 19, 18),
          rgb(93, 9, 51),
          rgb(41, 25, 56),
          rgb(4, 45, 58),
          rgb(18, 64, 60),
          rgb(71, 82, 0),
          rgb(102, 77, 0)
        );
      }
    }
  }
  
  
  /* .........---BACKGROUND---......... */
  
  body {
    background: var(--gradient);
    background-size: 400%;
    animation: background-moving 25s infinite alternate;
  }
  
  


